<!-- menu.xml -->

<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="index.html">CDS Hooks</a>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Hook Library
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{{site.data.related.library.link}}/index.html">Overview</a>
      </li>
      <li>
        <a href="{{site.data.related.library.link}}/allergyintolerance-create.html">allergyintolerance-create (1)</a>
      </li>
      <li>
        <a href="{{site.data.related.library.link}}/appointment-book.html">appointment-book (1)</a>
      </li>
      <li>
        <a href="{{site.data.related.library.link}}/encounter-discharge.html">encounter-discharge (1)</a>
      </li>
      <li>
        <a href="{{site.data.related.library.link}}/encounter-start.html">encounter-start (1)</a>
      </li>
      <li>
        <a href="{{site.data.related.library.link}}/medication-refill.html">medication-refill (1)</a>
      </li>
      <li>
        <a href="{{site.data.related.library.link}}/order-dispatch.html">order-dispatch (0)</a>
      </li>
      <li>
        <a href="{{site.data.related.library.link}}/order-select.html">order-select (4)</a>
      </li>
      <li>
        <a href="{{site.data.related.library.link}}/order-sign.html">order-sign (5)</a>
      </li>
      <li>
        <a href="{{site.data.related.library.link}}/patient-view.html">patient-view (5)</a>
      </li>
      <li>
        <a href="{{site.data.related.library.link}}/problem-list-item-create.html">problem-list-item-create (1)</a>
      </li>
      <li>
        <a href="{{site.data.related.library.link}}/medication-prescribe.html">medication-prescribe (deprecated)</a>
      </li>
      <li>
        <a href="{{site.data.related.library.link}}/order-review.html">order-review (deprecated)</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="cds-on-fhir.html">CDS on FHIR</a>
  </li>
  <li>
    <a href="changes.html">Change Log</a>
  </li>
  <li>
    <a href="downloads.html">Downloads</a>
  </li>
</ul>
